@import 'leaflet/dist/leaflet.css';

.leaflet-container {
  height: 100vh;
  width: 100vw;
}

.leaflet-control-container .leaflet-top {
  top: 50px;
}
.leaflet-control-container .leaflet-top .leaflet-control-zoom.leaflet-bar.leaflet-control a {
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 18px;
}
